@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
/*nav bar*/
nav.fixed-top.flex-md-nowrap.p-0.shadow.bg-secondary {
    padding: 16px 26px 3px !important;
}
nav h3{
  color: white;
}
nav a {
    text-decoration: none;
    color: #e2ecfd;
    transition: color .4s;
}
nav a:hover{
  color: white;
  text-decoration:none;
}
a.drop-btn {
    margin-top: 5px !important;
    display: inline-block;
}
.drop-down{
  visibility: hidden;
    margin-left: 0px;
    width: 100px;
    position: absolute;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop {
    visibility: visible;
    margin-left: 0px;
    width: 100px;
    position: absolute;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop a{
  display: block;
  color: black;
  transition: color .4s;
}
.drop a:hover {
    color: #2196F3;
}
.drop hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
/*navbar end*/

/*sidebar start*/
.sidebar{
    background: #343a40 ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    height: 100vh;
    border-right: 1px solid #343a40;
}
.left-sidebar{
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
}
.left-sidebar ul{
  list-style: none;
}
.left-sidebar a {
    text-decoration: none;
    color: #c1cde0;
}
.left-sidebar a:hover{
  color:white;
}
.ul-down{
  display: none;
}
.ul-drop{
  display: block;
}
/*main-content*/
.main{
  padding-top: 60px;
}

table {
    border-collapse: collapse;
    margin: auto;
    padding-bottom: 30px;
    overflow-x:auto;
}
tr label {
    margin-bottom: 15px !important;
}
tr input {
    margin-bottom: 15px !important;
}
.view form {
    position: relative;
    margin-top: 70px !important;
   
}
form {
    margin-top: 25px !important;
    max-width: 500px;
    margin: auto;
}
input{
  outline: none;
}
.togglenav{
  display: none;
}

.graph{
  width: 200px;
}

.user-d{
  display: none;
}
.user-n{

}
/*index_exam style start*/
.wrapper{
      position: absolute;
      top: 64px;
      right: 0;
      bottom: 0;
      left: 0;
    }
.exam-form{
    margin-top: 0;
    max-width: 100%;
    margin: auto;
}
    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
   
    .slick-active button{
      background:  #4CAF50 !important;
      color: #fff !important;
    }

    .slick-current {
      opacity: 1;
    }
    .slick-initialized .slick-slide {
    display: block;
    outline: none;
}
ul.slick-dots {
    max-width: 480px;
    margin: auto;
    position: relative;
    padding-top: 20px;
    padding-left: 0;
}
    li {
    list-style: none !important;
    display: inline-block;
    padding: 10px;
    /* color: ; */
}

li button {
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 1px 1px 1px 1px;
}
button:focus{
  outline: none;
}
button.slick-next.slick-arrow {
    color: black;
    border: 1px solid #80808061;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: -40px;
}
button.slick-prev.slick-arrow {
    color: black;
    border:1px solid #80808061;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -40px;
}
button.slick-next.slick-arrow:hover{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}
button.slick-prev.slick-arrow:hover{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}
   .submit {
    position: absolute;
    left: 46%;
}


.result{
  display: none;
}
.show{
  display: block;
}
/*Result Popup Start*/
#boxes {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}
#dialog {
    max-width: 500px;
    margin: 85px auto;
    height: auto;
    padding: 20px;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;
    background: #ffffff;
    border-radius: 10px;
}

.result-form{
  margin-top: 0 !important;
  position: relative;
}
input[name=rating] {
    display: none;
}
.rating {
    transform: rotateY(180deg);
    margin-left: -7px;
    margin-bottom: 17px;
    margin-top: -8px;
}
.rating label {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    background: #fff;
    position: relative;
}
.rating label:before{
   content: '\f005';
  font-family: "Font Awesome 5 free";
  position: relative;
  display: block;
  font-size: 16px;
  color: gray;
  font-weight: 900;
  
}
.rating label:after{
  content: '\f005';
  font-family: "Font Awesome 5 free";
  position: absolute;
  display: block;
  font-size: 16px;
  color:  #FFC107;
  font-weight: 900;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);

}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}
button.btn.btn-submit {
  margin-top: 10px;
    background: #9E9E9E;
    color: white;
}
a.btn.btn-danger {
    position: absolute;
    right: 0;
    bottom: 0;
}
/*Result Popup End*/
/*Sample Question Page Start*/
.question-form {
    max-width: 100% !important;
}
table.qchild-table {
    margin-left: 20px;
}
.question-form ul.slick-dots {
    max-width: 200px;
    margin: auto;
    position: relative;
    padding-top: 20px;
    padding-left: 0;
}

/*Sample Question Page End*/


/*media query*/
@media (max-width: 1200px){

   button.btn.btn-secondary {
    position: absolute;
    left: 46%;
}
}
@media (max-width: 992px){
  
button.btn.btn-secondary {
    position: absolute;
    left: 44%;
}
}
@media (max-width: 768px){
  button.btn.btn-secondary {
    position: absolute;
    left: 44%;
}
  .user-n{
    display: none;
  }
  .user-d{
    display: block;
  }
  .drop {
    visibility: visible;
    margin-left: 0px;
    width: 100px;
    position: relative;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop a{
  display: block;
  color: black;
  transition: color .4s;
}
.drop a:hover {
    color: #2196F3;
}
.drop hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
 .sidebar{
    display: none;
  }
  .togglenav {
    display: inline-block;
    font-family: fontAwesome;
    font-size: 20px;
   
    
}
svg.svg-inline--fa.fa-bars.fa-w-14 {
    display: block;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
 .sidebar.tactive {
    width: 100%;
    height: 1000px;
    display: block;
    position: absolute;
    top: 61px;
    right: 0;
    background: #343a40;
    animation: all .2s linear;
    padding: 20px;
    
}
  .nav-ul.tactive ul {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
  }
  .nav-ul.tactive li {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
  }
  .nav-ul.tactive li a {
    color: black;
    font-family: 'Work Sans', sans-serif;
    width: 100px;
    margin: auto;
  }

}
@media (max-width: 576px){

 button.btn.btn-secondary {
    position: absolute;
    left: 41%;
}

}
@media (max-width: 432px){
   button.btn.btn-secondary {
    position: absolute;
    left: 41%;
}

.main {
    padding-top: 90px;
}
.sidebar.tactive {
    width: 100%;
    display: block;
    position: absolute;
    top: 91px;
    right: 0;
    background: #343a40;
    animation: all .2s linear;
    padding: 20px;
}
.wrapper {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
}

}

@media (max-width: 400px){

button.btn.btn-secondary {
    position: absolute;
    left: 39%;
}


}
@media (max-width: 348px){

button.btn.btn-secondary {
    position: absolute;
    left: 38%;
}

}
@media (max-width: 348px){

button.btn.btn-secondary {
    position: absolute;
    left: 38%;

}
button.slick-next.slick-arrow {
    color: black;
    border: 1px solid #80808061;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    left: 33%;
    bottom: -80px;
}
button.slick-prev.slick-arrow {
    color: black;
    border:1px solid #80808061;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    left: 33%;
    bottom: -124px;
}

}

