@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans&display=swap');
 

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  overflow-x: auto;
}
/*nav bar*/
nav.fixed-top.flex-md-nowrap.p-0.shadow.bg-secondary {
    padding: 16px 26px 3px !important;
}
nav h3{
  color: white;
}
nav a {
    text-decoration: none;
    color: #e2ecfd;
    transition: color .4s;
}
nav a:hover{
  color: white;
  text-decoration:none;
}
a.drop-btn {
    margin-top: 5px !important;
    display: inline-block;
}
.drop-down{
  visibility: hidden;
    margin-left: 0px;
    width: 100px;
    position: absolute;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop {
    visibility: visible;
    margin-left: 0px;
    width: 100px;
    position: absolute;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop a{
  display: block;
  color: black;
  transition: color .4s;
}
.drop a:hover {
    color: #2196F3;
}
.drop hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
/*navbar end*/

/*sidebar start*/
.sidebar{
    background: #343a40 ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    height: 100vh;
    border-right: 1px solid #343a40;
}
.left-sidebar{
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
}
.left-sidebar ul{
  list-style: none;
}
.left-sidebar a {
    text-decoration: none;
    color: #c1cde0;
}
.left-sidebar a:hover{
  color:white;
}
.ul-down{
  display: none;
}
.ul-drop{
  display: block;
}
/*main-content*/
.main{
  padding-top: 60px;
}

table {
    border-collapse: collapse;
    margin: auto;
    overflow-x:auto;
}
tr label {
    margin-bottom: 15px !important;
}
tr input {
    margin-bottom: 15px !important;
}
.view form {
    position: relative;
    margin-top: 70px !important;
   
}
form {
    margin-top: 150px !important;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
input{
  outline: none;
}
.togglenav{
  display: none;
}

.graph{
  width: 200px;
}

.user-d{
  display: none;
}
.user-n{

}



/*media query*/
@media (max-width: 1200px){

   
}
@media (max-width: 992px){
  

}
@media (max-width: 768px){
  .user-n{
    display: none;
  }
  .user-d{
    display: block;
  }
  .drop {
    visibility: visible;
    margin-left: 0px;
    width: 100px;
    position: relative;
    right: -10px;
    background: white;
    padding: 5px 10px 12px 11px;
    margin-top: 3px;
    border: 1px solid #0000001a;
    border-radius: 3px;
    text-align: left;
}
.drop a{
  display: block;
  color: black;
  transition: color .4s;
}
.drop a:hover {
    color: #2196F3;
}
.drop hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
 .sidebar{
    display: none;
  }
  .togglenav {
    display: inline-block;
    font-family: fontAwesome;
    font-size: 20px;
   
    
}
svg.svg-inline--fa.fa-bars.fa-w-14 {
    display: block;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
 .sidebar.tactive {
    width: 100%;
    display: block;
    position: absolute;
    top: 61px;
    right: 0;
    background: #343a40;
    animation: all .2s linear;
    padding: 20px;
}
  .nav-ul.tactive ul {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
  }
  .nav-ul.tactive li {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
  }
  .nav-ul.tactive li a {
    color: black;
    font-family: 'Work Sans', sans-serif;
    width: 100px;
    margin: auto;
  }

}
@media (max-width: 576px){



}
@media (max-width: 320px){



}

